extends layout

block content
  h1= title
  p Welcome to #{title}
  table.table
    thead
      tr
        th HTTP verb
        th API endpoint
        th description
    tbody
      tr
        td GET
        td /test
        td sends: 'just testing'
      tr
        td POST
        td /test
        td
          .what echo the server time + body variables in JSON {serverTime: .... }
          code.example /test {a: 7, b: 'testing'} => {serverTime: '....', a: 7, b: 'testing' }
      tr
        td GET
        td /questions
        td
          .what list all questions in the database
      tr
        td POST
        td /questions
        td
          .what create and save a new question + server time
          code.example /questions {email: test@test.test, body: 'who am I?'} => {email: test@test.test, body: 'who am I?', createdAt: '2015-07-02T18...'}
